/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */





@font-face {
    font-family: 'AdobeCleanLight';
    src:url('../fonts/AdobeClean/AdobeClean-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@import url("https://p.typekit.net/p.css?s=1&k=jdq5hay&ht=tk&f=7180.7181.7182.7183.22749.22750.22751.22753&a=13133124&app=typekit&e=css");


@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/cb695f/000000000000000000017701/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cb695f/000000000000000000017701/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cb695f/000000000000000000017701/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/74ffb1/000000000000000000017702/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/74ffb1/000000000000000000017702/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/74ffb1/000000000000000000017702/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/eaf09c/000000000000000000017703/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/eaf09c/000000000000000000017703/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/eaf09c/000000000000000000017703/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"adobe-clean";
src:url("https://use.typekit.net/af/a9f5e6/000000000000000000017708/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/a9f5e6/000000000000000000017708/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/a9f5e6/000000000000000000017708/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/0dddd1/00000000000000003b9aee48/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0dddd1/00000000000000003b9aee48/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0dddd1/00000000000000003b9aee48/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/634d69/00000000000000003b9aee46/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/634d69/00000000000000003b9aee46/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/634d69/00000000000000003b9aee46/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/507e89/00000000000000003b9aee49/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/507e89/00000000000000003b9aee49/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/507e89/00000000000000003b9aee49/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"adobe-clean-serif";
src:url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e09494/00000000000000003b9aee45/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}



nav ul a,
nav .brand-logo {
  color: #444;
}

a {
  color: #ff811a;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

p {

  font-family: 'AdobeCleanLight', 'apple-system';
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

html, body {
  height: 100%;
}

html {
  line-height: 1.2;
  font-family: 'AdobeCleanLight', 'apple-system';
  font-weight: 400;
  color: #444;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'adobe-clean', 'apple-system';
  font-weight: 400;
}

a {
  font-weight: 400;
  color: #444;
}

h4, h6 {
  font-weight: 500;
  line-height: 1.1;
}


h6 {
  color: #ff811a;
}

h1 {  
  font-family: 'adobe-clean-serif';
  font-size: 3.6rem;
  /*letter-spacing: -1px;*/
  line-height: 1.1;
  color: #5F56AC !important;
  font-weight: 700 !important;  
}

h1 span {
  color: rgba(225, 225, 255, 0.9) !important;
}

h1 b {
  color: #FF811A !important;
}

h2 {
  font-family: 'adobe-clean-serif';
  font-weight: 700 !important;  
  color: #212121 !important;
}

.about p {

  color: rgba(225, 225, 255, 0.9) !important;
}

.listColor{
  padding-top: 40px;
}

.listColor h1, .listColor h2, .listColor h3 {
  font-weight: 700 !important;
  line-height: 1.1; 
  color: #251C50 !important;
  
}

.darkBg {
  background-color: #000 !important;
}

h3 {

  font-size: 2rem;
  font-weight: 300 !important;
}

h2.text-img, h4.text-img {
    font-weight: 700 !important;
}

h2.text-img-dark {
  font-weight: 700 !important;
  color: #0d0a1c;
}

h5 {
  font-weight: 500 !important;
  color: #ff811a;
}

b {
  font-weight: 700 !important;
  line-height: 1.1;
}

ul.list-desc {
  padding-left: 15px;
  list-style: disc inside;
  font-size: 1.1rem;
  line-height: 140%;
}

ul.list-desc > li {
  list-style: disc inside;
  line-height: 1.8rem;  
  font-size: 1.1rem;
  line-height: 140%;

}

i.right {
    float: right;
    margin-left: 8px;
}

img.margin-top-img{
    margin-top: 20px;
}

div.arrow {
  position: absolute;
  bottom: : 10px;
  right: 50%; 
  width: 40px;
  height: 40px;
}


.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 1%;
  width: 375px;
  height: 667px;
  margin-top: 5%;
}


.bg-about {
  background-color: #251C50;

  padding-top: 56px;
  margin-bottom: 5rem;

/*  background: linear-gradient(-45deg, #4C4289, #251C50);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;*/

  min-height: 100%;
  height: auto !important;
  display: flex;
  align-content: center;
  flex-wrap: wrap;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.separator {
    border-bottom: 1px solid rgba(37, 28, 80, 0.1);
}

.photo-about div {
  align-self: center;

}
@media only screen and (min-width: 993px) {
  .tit-short {
  width: 70%;
  }
}
.second-color {
  color:#4C4289;
}

.third-color {
  color:#FF811A;
}

.fourth-color {
  color:#5F56AC;
}

/*.case-footer {
  color: #fff;
  background-color: #ff811a;
}*/

.page-footer .footer-copyright {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: rgba(255, 255, 255, 1) !important;

}
  
.case-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 130px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}

.dropdown-content li {
  clear: both;
  color: #4C4289;
  cursor: pointer;
  min-height: 20px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: #fff;
  color: #ef6c00;
}

.dropdown-content li.active {
  background-color: #fff;
  color: #ef6c00;
  height: 56px;
  line-height: 56px;
  text-transform: capitalize;
  font-size: 18px; 
  padding: 0 26px;
  display: block;
}

.dropdown-content li.active.selected {
  background-color: #fff;
  color: #ef6c00;
}

.dropdown-content li > a, .dropdown-content li > span {
  text-transform: capitalize;
  font-size: 18px;
  color: #4C4289;
  display: block;
  line-height: 20px;
  padding: 0 16px;
}

.dropdown-content li > a:hover {
    background-color: transparent !important;
}

.sub-menu-mobile li > a {
    background-color: transparent !important;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 42px;
}

.side-nav li > a {
  font-size: 22px !important;
}
.side-nav li, .right li > a  {
  position: relative;
  display: block;
  cursor: pointer;
}

.side-nav li.active {
  background-color: transparent !important;
  color: #ff811a;
}

.side-nav li > a:hover {
  background-color: transparent !important;
  color: #ff811a;
}

.nav-wrapper li > a {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  /*border: none;*/
  /*border-radius: 4px;*/
  display: inline-block;
  color: #4C4289;
  height: 56px;
  line-height: 56px;
}

.nav-wrapper li > a:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #ff811a;
  border: none;
  /*border-radius: 4px;*/
  display: inline-block;
  height: 56px;
  line-height: 56px;
}

nav ul li.active {
  background-color: transparent !important;
  color: #ff811a;
}

nav ul a {
  font-weight: 300 !important;
  padding: 0 30px;
  margin: 0 10px;
  font-size: 18px;
  color: #4C4289;
  /*text-transform: uppercase;*/
}

nav ul a:hover {
  color: #ff811a;
}

nav {
    height: 56px;
    line-height: 56px;
}

nav.white {
  position: fixed;
  z-index: 998;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;

}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}


a.link_footer {
    color: #f5f5f5;
}

a.link_footer:hover {
    color: #251C50;
}

a.link_footer:active {
    color: #251C50;
}

i.color {
  color: #32255e;
  //vertical-align: text-top;
}

i.icon-btn {
  vertical-align: -4px;
}

.center-img {
  margin: 5px 186px;
}

.btn-flat {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #251C50;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  margin-top: 1.5rem;
}

.btn-flat:focus, .btn-flat:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ff811a;
  color: #fff;
}

.btn-flat:focus {
  background-color: #ff811a;
  color: #fff;
}

.btn-flat.disabled {
  background-color: transparent !important;
  color: #32255e !important;
  cursor: default;
}

.btn, .btn-large,
.btn-flat {
  border: none;
  border-radius: 4px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 1.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

}

.button-collapse {
  color: #ef6c00;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fade-in {
  opacity: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}
.center-desc {
  width: 70%;
  margin: 0 auto;
  left: auto;
  right: auto;
  float: none !important;
  color: #fff;
}


.fixed-height {
  padding-top: 90px;
  min-height: none !important;
}

.margin-top {
  margin-top: 64px;
}

.logo {
  margin-top: 11px;
  width: 34px;
  height: 34px;
}

.purple.darken-5 {
  background-color: #251C50 !important;
}

.purple-text.text-darken-5 {
  color: #251C50 !important;
  font-size: 2.1rem;
  line-height: 100%;
}

.teal {
  background-color: #ff811a !important;
}

.teal-text {
  color: #ff811a !important;
}

.home-teal {
  background-color: #DFDCEF;
}

.home-teal div {
  color: #4C4289;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.container.ligth-bg {
  background-color: rgba(8, 0, 206, 0.05);
} 

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.row.about {
  margin-bottom: 2%;
}

.row.about p {
  font-size: 1.4rem;
  width: 95%;
}

#contact .row {
  margin-bottom: 2% !important; 
}

.arrow i {

  margin-top: -13px;

}

.row-bgcolor-dark {
  background-color: #232526;
}

.row-bgcolor-dark h2 {
  color: #F4F4F4 !important;
}
.row-bgcolor-dark p {
  color: #F4F4F4;
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto;
}

.desc-block {
  width: 100%;
  margin: 0 auto;
}

.desc-block p {
  width: 85%;
  font-size: 1.4rem;
  margin: 20px auto !important;
}

.desc-block h5 {
  color: #5F56AC;
  font-weight: 700;
}



.dates-small {
  font-size: 1rem;
}

.work-exp p {

  width: 85%;
  margin: 0 !important;
  padding: 0 !important;
}

.work-exp h5 {
  margin-bottom: 0 !important;
}

.contact-icons svg {
  display: inline-block;
  margin-right: 1.5em;
}

